<h2>All groups</h2>

<div>
  <% @groups.each do |group| %>
    <div class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="<%= group.image_url %>/convert?w=100&h=100&fit=clip">
    </a>
    <div class="media-body">
      <h4 style="display:inline" class="media-heading"><%= group.name %></h4>
        <a class="join" data-id="<%= group.id %>">Join</a></li>
        <a class="leave hidden" data-id="<%= group.id %>">Leave Group</a></li>
      <p><%= group.description %></p>
   
      <!-- Nested media object -->
  <!--     <div class="media">
        
      </div> -->
    </div>
  </div>
  <% end %>
</div>

<script type="text/javascript">
  $('a.join').on("click", function(event) {
    console.log($(event.currentTarget).attr('data-id'));
    group_id = $(event.currentTarget).attr('data-id');
    $.ajax({
      url: "/memberships",
      type: "POST",
      data: { membership: {group_id: group_id, user_id: <%= current_user.id %> }},
      success: function(data) {
        console.log(data);
      }
    });
  });
</script>

