<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>

<div class="row-fluid">
  <div class="span3">
    <img id="img" data-id="<%= @group.id %>" src="<%= @group.image_url %>/convert?w=200&h=200&fit=clip">
  </div>
  <div class="span9">
    <h2 style="display:inline;"><%= @group.name %></h2>
    <a id="join<%= @group.id %>" class="join" style="display:<%= 'none' if @group.members.include?(current_user) %>" data-id="<%= @group.id %>"><button class="btn btn-primary btn-large pull-right">Join</button></a></li>
    <a id="leave<%= @group.id %>" class="leave" style="display:<%= 'none' if !@group.members.include?(current_user) %>" data-id="<%= @group.id %>"><button class="btn btn-primary btn-large pull-right">Leave Group</button></a>

    <p>
      <%= @group.description %>
    </p>

    <button id="upload_button" 
            data-id="<%= @group.id %>" 
            class="btn btn-primary <%= 'hidden' unless @group.members.include?(current_user) %>">
            Add a photo
    </button>

  </div>
</div>

<div class="row-fluid" style="padding:50px;">
  <div id="group_photos">
    <% @group_photos.each do |photo| %>
      <div style="padding:50px;">
        <div style="text-align: center;"><img src="<%= photo.image_url %>/convert?w=800&h=800&fit=clip"></div><br>

        <div style="margin-left: 24%;">
          <a class="favorite" 
             style="display:<%= 'none' if current_user.favorites.include?(photo) %>"
             data-id="<%= photo.id %>">
             Add to favorites
          </a>

          <a class="unfavorite" 
             style="display:<%= 'none' if !current_user.favorites.include?(photo) %>"
             data-id="<%= photo.id %>">
             Remove from favorites
          </a>
        </div>
        <br>


        <div style="margin-left: 24%;">
          <% photo.comments.each do |comment| %>
            <div id="comment_body<%= photo.id %>">
              <div class="media" style="padding:10px;">
                <a class="pull-left" href="<%= user_path(comment.user) %>">
                  <img class="media-object" src="<%= comment.user.profile_url %>/convert?w=50&h=50&fit=clip">
                </a>
                <div class="media-body">
                  <h5 class="media-heading"><%= comment.user.username %></h5>
                  <%= comment.body %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <br>


        <center>
          <div data-id-photo="<%= photo.id %>">
            <textarea class="comment" placeholder="Write a comment"></textarea>
          </div>
        </center>
      </div>
    <% end %>
  </div>
</div>


<script type="text/javascript">

  $("a.favorite").on("click", function(event) {
    var photo_id = $(event.currentTarget).attr('data-id');
    $.ajax({
      url: "/favorites",
      type: "POST",
      data: { photo_id: photo_id },
      success: function(data) {
        $("a.favorite").toggle();
        $("a.unfavorite").toggle();
      }
    })
  })

  $('a.unfavorite').on("click", function(event) {
    var photo_id = $(event.currentTarget).attr('data-id');
    $.ajax({
      url: "/favorites/destroy_favorite",
      type: "DELETE",
      data: { photo_id: photo_id },
      success: function(data) {
        $("a.favorite").toggle();
        $("a.unfavorite").toggle();
      }
    })
  })

  $('textarea.comment').on("keypress", function(event) {
    if (event.which === 13) {
      var photo_id = $(event.currentTarget).parent().attr('data-id-photo');
      var body = $(event.currentTarget).val();
    $.ajax({
      url: '/photos/' + photo_id + "/comments.json",
      type: "POST",
      data: { comment: {photo_id: photo_id, 
                        user_id: <%= current_user.id %>,
                        body: body }},
      success: function(data) {
        var profpic = data.user.profile_url + "/convert?w=50&h=50&fit=clip";
        var body = data.comment.body;
        var user_show = "/users/" + data.user.id;

        new_comment = "<div class='media'><a class='pull-left' href='" + user_show + "'><img class='media-object' src='" + profpic
        + "'></a><div class='media-body'><h5 class='media-heading'>" + data.user.username + "</h5>" + body + "</div></div>"

        $('textarea.comment').val('');
        console.log(photo_id)
        console.log(new_comment)
        console.log($('#comment_body' + photo_id).html())
        $('#comment_body' + photo_id).append(new_comment);
      }
    });
    }
  })

  filepicker.setKey('AhjzhTx37SyaNYS8XvjR9z');

  var inkblobToUrl = function(InkBlobs) {
    return InkBlobs[0].url;
  }

  $("#upload_button").on("click", function() {
    filepicker.pickAndStore({multiple: false, mimetype:"image/*"},
    {location:"S3"}, function(InkBlobs){
      var url = inkblobToUrl(InkBlobs);

      $.ajax({
        type: "PUT",
        url: "/groups/" + <%= @group.id %> + ".json",
        data: { photo: {imageable_id: <%= @group.id %>, imageable_type: "Group", image_url: url}},
        success: function(data) {
          console.log(data.id);

          // var image = "<span><a href='/photos/" + data.id +"'><img src='" + data.image_url + "/convert?w=500&h=500&fit=clip'></a></span>"
          // console.log(image);
          // $('#group_photos').append(image);
        }
      });

    });
  });

  $('a.join').on("click", function(event) {
    var group_id = $(event.currentTarget).attr('data-id');
    $.ajax({
      url: "/memberships",
      type: "POST",
      data: { membership: {group_id: group_id, user_id: <%= current_user.id %> }},
      success: function(data) {
        $("a#join" + group_id).toggle();
        $('a#leave' + group_id).toggle();
        $('button#upload_button').toggle();
      }
    });
  });

  $('a.leave').on("click", function(event) {
    var group_id = $(event.currentTarget).attr('data-id');
    $.ajax({
      url: "/memberships/destroy_membership",
      type: "DELETE",
      data: { group_id: group_id },
      success: function(data) {
        $("a#join" + group_id).toggle();
        $('a#leave' + group_id).toggle();
        $('button#upload_button').toggle();
      }
    });
  });
</script>
