<div class="photo_feed">
  <% @photos.each do |photo| %>
    <div class="media">
      <a class="pull-left" href="<%= user_path(photo.imageable.user) %>">
        <img class="media-object" src="<%= photo.imageable.user.profile_url %>/convert?w=50&h=50&fit=clip">
      </a>
      <div class="media-body">
        <h5 class="media-heading"><a href="<% user_path(photo.imageable.user) %>"><%= photo.imageable.user.username %></a></h5>
        <a href="<%= photo_path(photo) %>"><img src="<%= photo.image_url %>/convert?w=800&h=800&fit=clip"></image></a>
      </div>  
    </div>

    <%# photo.comments do |comment| %>
     <!--  <div class="media">
        <a class="pull-left" href="<%#= user_path(comment.user) %>">
          <img class="media-object" src="<%#= comment.user.profile_url %>/convert?w=50&h=50&fit=clip">
        </a>
        <div class="media-body">
          <h5 class="media-heading"><a href="<%#= user_path(comment.user) %>"><%#= comment.user.username %></a></h5>
          <%#= comment.body %>
        </div>  
      </div> -->
    <%# end %>
  <% end %>
</div>

<script type="text/javascript">
  var page = 1;
  $(window).scroll(function (event) { 
   if ($(window).scrollTop() >= $(document).height() - $(window).height() - 10) {
      console.log(event)
      page += 1;
      console.log(page);
      $.ajax({
        url: '/users/' + <%= current_user.id %> + '/feed',
        type: 'GET',
        data: { page: page },
        success: function(data) {
          console.log($(data)[0].innerHTML);
          $('.photo_feed').append($(data)[0].innerHTML);
        }
      })
     }
  });
</script>