<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>

<img class="cover_photo" src="<%= @user.cover_url %>">

<img class="profile_picture" src="<%= @user.profile_url %>/convert?w=150&h=150&fit=crop">

<h2 style="display: inline;" class="profile_username"><%= @user.username %>'s Profile</h2>


<a class="pull-right" id="follow" style="display:<%= 'none' if current_user.followees.include?(@user) || current_user == @user %>" data-id="<%= @user.id %>">
  <button class="btn btn-primary btn-large">Follow</button></a>
<a class="pull-right" id="unfollow" style="display:<%= 'none' if !current_user.followees.include?(@user) || current_user == @user %>" data-id="<%= @user.id %>">
  <button class="btn btn-primary btn-large">Unfollow</button></a>

<br><br>

<div class="tabbable tabs-below"> <!-- Only required for left/right tabs -->
<!--   <div class="tab-content">
    <div class="tab-pane active" id="tab1">
    </div>
    <div class="tab-pane" id="tab2">
    </div>
  </div> -->
  <ul class="nav nav-tabs">
    <li id="recent_photos" class="active"><a href="#" data-toggle="tab">Recent Photos</a></li>
    <li id="groups"><a href="#" data-toggle="tab">Groups</a></li>
    <li id="favorites"><a href="#" data-toggle="tab">Favorites</a></li>
    <li id="albums"><a href="#" data-toggle="tab">Albums</a></li>
    <li id="map"><a href="<%= mymap_user_url(@user) %>">Map</a></li>
  </ul>
</div>

<div id="content">
  <% @photos.each do |photo| %>
    <div>
      <a href="<%= photo_path(photo) %>"><img class="worldmap_photos" src="<%=photo.image_url %>/convert?w=300&h=300&fit=crop"></img></a>
    </div>
  <% end %>
</content>


<script type="text/javascript">
  $('#favorites').on('click', function(event) {
    $.ajax({
      url: '/users/' + <%= @user.id %> + '/favorites.json',
      type: 'GET',
      success: function(data) {
        console.log(data);
      }
    })
  })


</script>


  <!-- <div class="row-fluid">

    <div class="span4">
      <h3>Recent Photos</h3>
      < @photos.each do |photo| >
        <div style="text-align:center;">
          <a href="< photo_path(photo) >"><img style="padding: 10px;" src="<photo.image_url >/convert?w=300&h=300&fit=clip"></img></a>
        </div>
      < end >
    </div>

    <div class="span4">
      <h3 style="text-align:center;">Groups</h3>
    </div>

    <div class="span4">
      <h3 style="text-align:right;">Favorites</h3>
      < @favorites.each do |favorite| >
        <div style="text-align:center;">
          <a href="<photo_path(favorite) >"><img style="padding: 10px;" src="<favorite.image_url >/convert?w=300&h=300&fit=clip"></img></a>
        </div>
      < end >
    </div>

  </div> -->

<script type="text/javascript">
  filepicker.setKey('AhjzhTx37SyaNYS8XvjR9z');

  var inkblobToUrl = function(InkBlobs) {
    return InkBlobs[0].url;

  }

  $("img.profile_picture").on("click", function(event) {
    filepicker.pickAndStore({multiple: false, mimetype:"image/*"},
    {location:"S3"}, function(InkBlobs){

      var url = inkblobToUrl(InkBlobs);
      // var img = "<img src='" + url + "/convert?w=300&h=300&fit=clip'></img>"
      // $('.profile_picture').html(img);

      $.ajax({
        type: "PUT",
        url: "/users/" + "<%= current_user.id %>" + ".json",
        data: { user: {profile_url: url }},
        success: function(data) {
          console.log(data.profile_url);
          var img = data.profile_url + "/convert?w=150&h=150&fit=crop"
          $('.profile_picture').attr("src", img);
        }
      });

    });
  });

  $("img.cover_photo").on("click", function(event) {
    filepicker.pickAndStore({multiple: false, mimetype:"image/*"},
    {location:"S3"}, function(InkBlobs){

      var url = inkblobToUrl(InkBlobs);
      // var img = "<img src='" + url + "/convert?w=300&h=300&fit=clip'></img>"
      // $('.profile_picture').html(img);

      $.ajax({
        type: "PUT",
        url: "/users/" + "<%= current_user.id %>" + ".json",
        data: { user: {cover_url: url }},
        success: function(data) {
          console.log(data.cover_url);
          var img = data.cover_url
          $('.cover_photo').attr("src", img);
        }
      });

    });
  });
</script>

<script type="text/javascript">
  filepicker.setKey('AhjzhTx37SyaNYS8XvjR9z');

  var inkblobToUrl = function(InkBlobs) {
    return InkBlobs[0].url;

  }

  $("#upload_coverpic").on("click", function() {
    filepicker.pickAndStore({multiple: false, mimetype:"image/*"},
    {location:"S3"}, function(InkBlobs){

      var url = inkblobToUrl(InkBlobs);
      console.log(url);
      // var img = "<img src='" + url + "/convert?w=300&h=300&fit=clip'></img>"
      // $('.profile_picture').html(img);

      $.ajax({
        type: "PUT",
        url: "/user/" + "<%= current_user.id %>" + ".json",
        data: { user: {cover_url: url }},
        success: function(data) {
          console.log(data.image_url);
          var img = data.image_url
          $('.cover_photo').html(img);
        }
      });

    });
  });

  $('a#follow').on("click", function(event) {
    console.log($(event.currentTarget).attr('data-id'));
    var followee_id = $(event.currentTarget).attr('data-id');
    $.ajax({
      url: "/followings",
      type: "POST",
      data: { followee_id: followee_id },
      success: function(data) {
        console.log(data);
        $("a#follow").toggle();
        $('a#unfollow').toggle();
      }
    });
  });

  $('a#unfollow').on("click", function(event) {
    var followee_id = $(event.currentTarget).attr('data-id');
    $.ajax({
      url: "/followings/destroy_following",
      type: "DELETE",
      data: { followee_id: followee_id },
      success: function(data) {
        console.log($(event.currentTarget));;
        $("a#follow").toggle();
        $('a#unfollow').toggle();
      }
    });
  });
</script> 


<!--   var page = 1;
  $(window).scroll(function (event) { 
   if ($(window).scrollTop() >= $(document).height() - $(window).height() - 10) {
      console.log(event)
      page += 1;
      $.ajax({
        url: '/users/' + <%= current_user.id %> + '/feed',
        type: 'GET',
        data: { page: page },
        success: function(data) {
          console.log($(data)[2].innerHTML);
          $('.photo_feed').append($(data)[2].innerHTML);
        }
      })
     }
  }); -->
