<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a class="brand" href="#">Flickr</a>
    <% if user_signed_in? %>
      <ul class="nav">
        <li class="home_link"><a href="#">Home</a></li>
        <li class="divider-vertical"></li>
        <li><a class="groups_link" href="<%= all_groups_path %>">Groups</a></li>
        <li class="divider-vertical"></li>
        <li><a class="explore_link" href="<%= all_photos_path %>">Explore</a></li>
        <li class="divider-vertical"></li>
      </ul>
      <ul class="nav pull-right">
        <li>
          <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
        </li>
      </ul>
      
    <% else %>
      <ul class="nav pull-right">
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li class="divider-vertical"></li>
        <li><%= link_to "Log in", new_user_session_path %></li>
      </ul>
    <% end %>
  </div>
</div>