<div class="row-fluid">
  <% @photos.each do |photo| %>

    <div class="edit_photo span3" data-id-photo="<%= photo.id %>">
      <img src="<%=photo.image_url %>/convert?w=200&h=200&fit=clip"></img>
      <br>
      <br>

      <label for="name">Name</label>
      <div id="name_label"></div>
      <input class="name_field" type="text" name="photo[name]" id="name" />
      <br><br>

      <label for="album">Album</label>
      <div id="album_label"></div>
      <select class="album_dropdown" id="album" name="photo[album_id]">
        <% @albums.each do |album| %>
          <option value="<%= album.id %>"><%= album.title %></option>
        <% end %>
      </select>
      <br>
      <br>

      <div id="public_label"></div>
      <label style="display: inline;" for="public">Public</label>
      <input type="radio" name="photo[public]" id="public" 
             value="true" class="radio_button"
             <%= "checked" if photo.public == true %> >
      <label style="display: inline;" for="private">Private</label> 
      <input type="radio" name="photo[public]" id="private" 
             value="false" class="radio_button"
             <%= "checked" if photo.public == false %> >
      <br>
      <br>

      <label for="tag">Add Tags:</label>
      <div id="tag_label"></div>
      <input type="text" class="tag_field" id="tag" />

    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('.album_dropdown').on("click", function(event) {
    console.log($(event.currentTarget).parent().attr('data-id-photo'));
    var photo_id = $(event.currentTarget).parent().attr('data-id-photo');
    var album_id_var = $(event.currentTarget).val();
    $.ajax({
      url: '/photos/' + photo_id,
      type: 'PUT',
      data: {photo: {album_id: album_id_var}},
      success: function(data) {
        $('#album_label').text("Saved").css("color", "green");
      }
    });
  });

  $('.name_field').on("keypress", function(event) {
    // console.log($(event.currentTarget).val());
    if (event.which === 13) {
      var photo_id = $(event.currentTarget).parent().attr('data-id-photo');
      var value = $(event.currentTarget).val();
      $.ajax({
        url: '/photos/' + photo_id,
        type: 'PUT',
        data: {photo: {name:  value }},
        success: function(data) {
          $('#name_label').text("Saved").css("color", "green");
        }
      });
    }
  });

  $('.radio_button').on("click", function(event) {
    var photo_id = $(event.currentTarget).parent().attr('data-id-photo');
    var value = $(event.currentTarget).val();
    $.ajax({
      url: '/photos/' + photo_id,
      type: 'PUT',
      data: {photo: {public: value}},
      success: function(data) {
        $('#public_label').text("Saved").css("color", "green");
      }
    });
  });

  $('.tag_field').on("keypress", function(event) {
    if (event.which === 13) {
      var photo_id = $(event.currentTarget).parent().attr('data-id-photo');
      var name = $(event.currentTarget).val();
      $.ajax({
        url: '/tags',
        type: 'POST',
        data: { photo_id: photo_id, name: name},
        success: function(data) {
          $(event.currentTarget).val('');
          $('#tag_label').append('<p>' + data.name + '</p>');
        }
      })
    }
  })
</script>