<div class="show_photo">
  <img src="<%= @photo.image_url %>/convert?w=500&h=500&fit=clip">
</div>
<br>


<div class="comments">
  <% @comments.each do |comment| %>
    <div class="media">
      <a class="pull-left" href="<%= user_path(comment.user) %>">
        <img class="media-object" src="<%= comment.user.profile_url %>/convert?w=50&h=50&fit=clip">
      </a>
      <div class="media-body">
        <h5 class="media-heading"><%= comment.user.email %></h5>
        <%= comment.body %>
      </div>
    </div>
  <% end %>
</div>
<br>

<div data-id-photo="<%= @photo.id %>">
  <textarea class="comment" id="comment_body" placeholder="Write a comment"></textarea>
</div>
<br>

<script type="text/javascript">
  $('#comment_body').on("keypress", function(event) {
    if (event.which === 13) {
      var photo_id = $(event.currentTarget).parent().attr('data-id-photo');
      var body = $(event.currentTarget).val();
    $.ajax({
      url: '/photos/' + photo_id + "/comments.json",
      type: "POST",
      data: { comment: {photo_id: photo_id, 
                        user_id: <%= current_user.id %>,
                        body: body }},
      success: function(data) {
        console.log(data.user.profile_url);
        var profpic = data.user.profile_url + "/convert?w=50&h=50&fit=clip";
        var body = data.comment.body;
        var user_show = "/users/" + data.user.id;

        new_comment = "<div class='media'><a class='pull-left' href='" + user_show + "'><img class='media-object' src='" + profpic
        + "'></a><div class='media-body'><h5 class='media-heading'>" + data.user.email + "</h5>" + body + "</div></div>"

        $('textarea#comment_body').val('');
        $('.comments').append(new_comment);
      }
    });
    }
  })
</script>
