<!DOCTYPE html>
<html>
<head>
  <title>Flickr</title> 
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => "shared/navbar" %> 

  <div class="container-fluid">
    <div class="row-fluid">
      <% if user_signed_in? %>
        <div class="bs-docs-sidebar sidebar-fixed" data-spy="affix-top" data-offset="50">
          <ul class="nav nav-list bs-docs-sidenav">
            <li><a href="<%= user_path(current_user) %>"></i>Profile</a></li>
            <li class="divider"></li>
            <li><a href="<%= user_photos_path(current_user) %>"></i>Photos</a></li>
            <li class="divider"></li>
            <li><a href="<%= user_albums_path(current_user) %>"></i>Albums</a></li>
            <li class="divider"></li>
            <li><a href="<%= new_photo_path %>"></i>Upload</a></li>
          </ul>
        </div>
      <% end %>

      <div class="well span11 pull-right">
        <% flash.try(:each) do |name, msg| %>
          <%= msg %>
        <% end %>

        <div id="yield">
          <%= yield %>
        </div>

      </div>
    </div>
  </div>

<script>
  $('#search_tags').on('keypress', function(event) {

    if (event.keyCode == 13) {
      var search_word = $(event.currentTarget).val();
      $.ajax({
        url: '/tags/search_tags.json',
        type: 'GET',
        data: { search_word: search_word },
        success: function(data) {
          console.log(data);
          var str = ''
          if (!!data && data.length !== 0) {
            _.each(data, function(photo) {
              str += "<a href='/photos/" + photo.id + "'><img style='float:left; padding: 10px;' src='" + photo.image_url + "/convert?w=200&h=200&fit=clip'></img></a>"
            })
          } else {
            str += "No results match '" + search_word + "'"
          }
          $('#yield').html(str);
          
        }
      })
    }
  })
</script>

  
</body>
</html>
